* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  display: flex;
  padding: 5px;
  gap: 10px;
}
a {
  text-decoration: none;
  color: black;
}

.main-content {
  width: 800px;
  margin: 0 auto;
}

input {
  padding: 6px 16px;
}
